{% extends 'base/base.html' %}
{% load static %}

    {% block content %}
    <div class="row" style="margin: 2em 0 2em 0">
        <div class="col-md-8 offset-md-2">
        <div class="card">
            {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url}}" alt="Card image cap">
                        {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ post.title}} <small style="color: rgba(50,50,50,.5)">hace {{ post.timestamp|timesince}}</small></h5>
                <p class="card-text">{{post.content|linebreaks|truncatechars:120}}</p>
                <a href="{% url 'post-update' pk=object.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'post-delete' pk=object.id %}" class="btn btn-danger">Eliminar</a>

            </div>
        </div>

            <h1 style="margin-top: 0.5em">Comentarios</h1>

            <div id="comments">
                {% include "comments.html" %}
            </div>

            <h1>Agregar Comentario</h1>
            {% include 'form/form_comments.html' %}
        </div>
    </div>




    <a href="{% url 'post-delete' pk=object.id %}">Delete</a>

    {% endblock %}

    {% block extrascript %}
        <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>
    {% endblock %}







