<form action="" method="post" data-url-create-comment="{% url 'create-comment' %}">
    {% csrf_token %}
    <input id="autor" class="form-control " type="hidden" name="autor" value="{{ user.id}}">

    <input type="hidden" value="{{object.id}}" name="id">
    <div class="form-group">
        <label for="content">Comentario:</label>

        <textarea required id="content" class="form-control" name="content" cols="30" rows="10"></textarea>
    </div>

    <input type="button" class="btn btn-primary" value="Comentar" id="comment">
</form>